*, *:before, *:after {box-sizing:border-box;
}

body {
  padding: 10px;
  margin:0;
}

h1,h2,h3,h4,h5,h6 {
  margin:0 0 10px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
.container {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  width: 50vw;
  margin: auto;



}

.table {
  width:100%;
  border:1px solid;
}

.table-header {
  display:flex;
  width:100%;
  background-color: #333;
  padding:10px;
}

.table-row {
  display:flex;
  width:100%;
  padding:10px;
}

.table-data, .hitem {
  flex: 1 1 20%;
  text-align:center;
}

.hitem {
  text-transform:uppercase;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
